@import "tailwindcss";
@import "@nuxt/ui";
@import "tailwindcss-primeui";
/* @custom-variant dark (&:where(.p-dark, .p-dark *, .dark, .dark *)); */

@theme static {
  --color-bluegrey-50: #eceff1;
  --color-bluegrey-100: #cfd8dc;
  --color-bluegrey-200: #b0bec5;
  --color-bluegrey-300: #90a4ae;
  --color-bluegrey-400: #78909c;
  --color-bluegrey-500: #607d8b;
  --color-bluegrey-600: #546e7a;
  --color-bluegrey-700: #455a64;
  --color-bluegrey-800: #37474f;
  --color-bluegrey-900: #263238;
  --color-bluegrey-950: #263238;
}

:root {
  --g-logo: var(--color-white);
  --g-logo-line: var(--color-bluegrey-800);
  --g-logo-bg: var(--color-bluegrey-800);
  --g-logo-font: var(--color-bluegrey-800);
  --g-logo-font-accent: var(--color-bluegrey-800);

  --p-primary-50: var(--color-green-50);
  --p-primary-100: var(--color-green-100);
  --p-primary-200: var(--color-green-200);
  --p-primary-300: var(--color-green-300);
  --p-primary-400: var(--color-green-400);
  --p-primary-500: var(--color-green-500);
  --p-primary-600: var(--color-green-600);
  --p-primary-700: var(--color-green-700);
  --p-primary-800: var(--color-green-800);
  --p-primary-900: var(--color-green-900);
  --p-primary-950: var(--color-green-950);

  --p-surface-0: #ffffff;
  --p-surface-50: var(--color-slate-50);
  --p-surface-100: var(--color-slate-100);
  --p-surface-200: var(--color-slate-200);
  --p-surface-300: var(--color-slate-300);
  --p-surface-400: var(--color-slate-400);
  --p-surface-500: var(--color-slate-500);
  --p-surface-600: var(--color-slate-600);
  --p-surface-700: var(--color-slate-700);
  --p-surface-800: var(--color-slate-800);
  --p-surface-900: var(--color-slate-900);
  --p-surface-950: var(--color-slate-950);

  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);

  --p-content-border-radius: 6px;

  --ui-header-height: 60px;
  --g-foot-height: 40px;
  --g-inner-height: 60px;
  --g-innersum-height: calc(var(--ui-header-height) + var(--g-inner-height));
  --g-sum-height: calc(var(--ui-header-height) + var(--g-foot-height));
  --g-totalsum-height: calc(
    var(--ui-header-height) + var(--g-foot-height) + var(--g-inner-height)
  );

  --ui-gof: var(--color-bluegrey-900);
  --ui-gofinv: var(--color-bluegrey-400);

  /* --ui-text: var(--ui-color-neutral-900);
  --ui-bg: var(--ui-color-neutral-50); */
  --ui-bg-invert: var(--ui-color-neutral-900);
  --ui-fg: var(--color-bluegrey-900);
  --ui-fg-invert: var(--color-bluegrey-200);

  --gofhead: var(--color-bluegrey-900);
  --gofhead-inv: var(--color-bluegrey-200);
  --gofhead-accent: var(--color-bluegrey-400);
}
.dark {
  --g-logo: var(--color-bluegrey-800);
  --g-logo-line: var(--color-red-800);
  --g-logo-bg: var(--color-white);
  --g-logo-font: var(--color-white);
  --g-logo-font-accent: var(--color-white);

  --g-head-font: var(--color-bluegrey-100);
  --g-head-accent: var(--color-bluegrey-400);
  --g-head-bg: var(--color-slate-900);
  --g-head-inv: var(--color-bluegrey-100);

  --ui-bg: var(--color-slate-900);
  --ui-bg-muted: var(--color-slate-800);
  --ui-bg-elevated: var(--color-slate-800);
  --ui-bg-accented: var(--color-slate-700);
  --ui-bg-inverted: white;

  /* --ui-bg-elevated: var(--color-red-400); */
  /* --ui-text: var(--ui-color-neutral-200); */
  /* --ui-bg: var(--ui-color-neutral-950); */
  --ui-bg-invert: var(--ui-color-neutral-100);
  --ui-fg: var(--color-bluegrey-200);
  --ui-fg-invert: var(--color-bluegrey-900);

  --p-primary-color: var(--ui-color-primary-400);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 84%
  );
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 76%
  );
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}
/* .highlighter {
  background-color: var(--ui-color-neutral-300);
  color: var(--color-primary-500);
}

.dark .highlighter {
  background-color: var(--ui-color-neutral-500);
  color: var(--color-primary-500);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
} */
